# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Node
node_modules/
dist/

# Build outputs
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Tooling
.idea/
.vscode/

# Env files
.env
.env.local
.env.*.local
